


.text {
    text-align: center;
    margin: -5rem 0 7rem;
    padding-bottom:20% ;

    @media(max-width: 500px){
        margin: -7rem 0 7rem;
    }
    
    
}

.goTop{
    position: fixed;
        width: 2%;
        bottom: 1%;
        left: 1%;
        z-index: 99;        
        transition: all 1s ease;

        

        @media(min-width:500px) and  (max-width: 800px){
            width: 4%;
        }

        @media(max-width:499px){
            width: 7%;
        }
                            
}

.goTop :hover{
    cursor:pointer;
}

.goTop img{
    width: 100%;
    background: white;
    border-radius: 100%;
}